<launch>
	
	<!-- Argument for launching different worlds. -->
	<arg name= "world" default="corridor" />

	<!-- Create the world in Gazebo -->
	<include file = "$(find f1tenth_gazebo)/launch/f1tenth_$(arg world).launch"/>

	<!--<node pkg="f1tenth_control" type="f1tenth_masterNode.py" name="rl_master" output="screen"/>-->
	<!-- Launch rosbag for test result recording-->
	<node pkg="rosbag" type="record" name="rosbag_record_test" output="screen" 
			args="record -o test /gazebo/link_states /ackermann_cmd /scan /debug/reward"

		/>




</launch>
